%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    %a{href: "#"} シャネル 新着アイテム
  .main--pickup-container--items-container--items
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ブランド　ブランドブランド　ブランドブランド　ブランドブランド　ブランドブランド　ブランド
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m11597312917_1.jpg?1553687948"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m89414875172_1.jpg?1555422225"}
        .item-body
          %h3.item-body__name ギンガムチェック スカートギンガムギンガムギンガムギンガムギンガム
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
  .main--pickup-container--items-container__view-all
    %a{href: "#"} すべての商品を見る
%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    %a{href: "#"} ルイ ヴィトン 新着アイテム
  .main--pickup-container--items-container--items
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ギンガムチェック スカートギンガムチェック スカートギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m11597312917_1.jpg?1553687948"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m89414875172_1.jpg?1555422225"}
        .item-body
          %h3.item-body__name ギンガムチェック スカートギンガムギンガムギンガムギンガムギンガム
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
  .main--pickup-container--items-container__view-all
    %a{href: "#"} すべての商品を見る
%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    %a{href: "#"} シュプリーム 新着アイテム
  .main--pickup-container--items-container--items
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ギンガムチェック スカートギンガムチェック スカートギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m11597312917_1.jpg?1553687948"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m89414875172_1.jpg?1555422225"}
        .item-body
          %h3.item-body__name ギンガムチェック スカートギンガムギンガムギンガムギンガムギンガム
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
  .main--pickup-container--items-container__view-all
    %a{href: "#"} すべての商品を見る
%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    %a{href: "#"} ナイキ 新着アイテム
  .main--pickup-container--items-container--items
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ギンガムチェック スカートギンガムチェック スカートギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m11597312917_1.jpg?1553687948"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m89414875172_1.jpg?1555422225"}
        .item-body
          %h3.item-body__name ギンガムチェック スカートギンガムギンガムギンガムギンガムギンガム
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
    %section.main--pickup-container--items-container--items__item
      %a{href: "#"}
        %figure.item-photo
          %img{src: "https://static.mercdn.net/thumb/photos/m31987549883_1.jpg?1557114161"}
        .item-body
          %h3.item-body__name ギンガムチェック スカート
          .item-body--num
            .item-body--num__price ¥ 500
            .item-body--num__favorite
              = icon('far', 'heart')
              %span 1000
          %p (税込)
  .main--pickup-container--items-container__view-all
    %a{href: "#"} すべての商品を見る
