= render './shared/header'
%main.main
  .main--image-slide{style: "width: 100%"}
    = image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg"
    .owl-dots
      .owl-dot
  %section.main--pickup-container
    %h2.main--pickup-container__name ピックアップカテゴリー
    = render 'item_messages/pickup-category'
  %section.main--pickup-container
    %h2.main--pickup-container__name ピックアップブランド
    = render 'item_messages/pickup-brand'
= render './shared/footer-sell-btn'
= render './shared/app-banner'
= render './shared/footer'
= link_to "ログアウト", destroy_user_session_path, method: :delete
