= render './shared/profile_header'
= render './shared/gratel'

.items-show
  .items-show--nemue
  .item-box
    .item-box-container
      %h1.item-box-container__item-name
        = @item.name
      .item-box-container__item-main-containt
        .item-box-container__item-main-containt__item-photo
          .item-box-container__item-main-containt__item-photo__owlcasual
            - @item.images.each do |image|
              = image_tag image ,class:"item-box-container__item-main-containt__item-photo__owlcasual__owl-lazy" 
          .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots
            .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
              .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
                - @item.images.each do |image|
                  = image_tag image ,class:"item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
            .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
              .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
                - @item.images.each do |image|
                  = image_tag image ,class:"item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
            .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
              .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
                - @item.images.each do |image|
                  = image_tag image ,class:"item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
            .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
              .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
                - @item.images.each do |image|
                  = image_tag image ,class:"item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
        -# .item-box-container__item-main-containt__sold-out-badge
          -# .item-box-container__item-main-containt__sold-out-badge__font SOLD
        %table.item-box-container__item-main-containt__item-detail-table
          %tbody
            %tr 
              %th 出品者
              %td
                = link_to "#" do
                  %span.linkcolor 
                    - @item.users.each do |user|
                      =user.nickname
                .grin
                  .item-user-rating1
                    =icon('fas', 'grin')
                    .span 918
                  .item-user-rating2
                    =icon('far', 'meh')
                    .span 27
                  .item-user-rating3
                    =icon('fas', 'frown-open')
                    .span 4

            %tr 
              %th カテゴリー
              %td 
                = link_to "#" do 
                  %span.linkcolor
                    - @item.parent_categories.each do |category|
                      = category.large
                  %br
                  =icon('fas', 'chevron-right')
                  %span.linkcolor 
                    - @item.parent_categories.each do |category|
                      = category.midium
                  %br
                  =icon('fas', 'chevron-right')
                  %span.linkcolor 
                    - @item.parent_categories.each do |category|
                      = category.small
            %tr 
              %th ブランド
              %td 
                = link_to "#" do 
                  %span.linkcolor 
                    =@item.brand.name
            %tr 
              %th サイズ
              %td 
                =@item.size
            %tr 
              %th 商品の状態
              %td 
                =@item.condition
                  
            %tr 
              %th 配送料の負担
              %td 
                =@item.shipping_burden

            %tr 
              %th 配送の方法
              %td
                =@item.shipping_method
            %tr 
              %th 配送元地域
              %td 
                = link_to "#" do 
                  %span.linkcolor 
                    =@item.prefecture.name
            %tr 
              %th 発送日の目安
              %td
                =@item.estimated_date
      .item-box-container__item-price-box
        %span.item-box-container__item-price-box__item-price ¥
        %span.item-box-container__item-price-box__item-price 
          = @item.price 
        %span 円
        %span.item-box-container__item-price-box__item-tax （税込）
        %span.item-box-container__item-price-box__item-shipping-fee 送料込み

      .item-box-container__item-description
        %p.item-box-container__item-description__item-description-inner
          = @item.description
      
    .item-box--form
      = link_to "/items/#{@item.id}/edit" do
        商品の編集
      %p or
      = link_to "" do
        商品を一旦停止する
      = form_with url: "/items/#{@item.id}", method: :delete, local: true, id: "item-delete-form", class: "item-delete-form" do |form|
        .item-delete-form--container.item-box--form--container
          = form.submit "この商品を削除する", id: "item-delete_submit", class: "item-delete-form--container__btn"

    .item-detail-message__message-containt.item-box--comment
      .item-detail-message__message-containt__message-form
        %p.item-detail-message__message-containt__message-form__message
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %text_area.item-detail-message__message-containt__message-form__form-default
        %button.item-detail-message__message-containt__message-form__button-default 
          %span.item-detail-message__message-containt__message-form__button-default__font
            コメントする

= render './shared/app-banner'
= render './shared/footer'
= render './shared/footer-sell-btn'
