%ul.header--inner-lower--left-content
  %li.header--inner-lower--left-content-category
    %h2
      = link_to "#", class: ".header--inner-lower--left-content-link" do
        = icon('fas', 'list-ul')
        %span カテゴリーから探す
      %ul.header--inner-lower--left-content-first{name: "category1", id: "category1"}
        %li.header--inner-lower--left-content-first-list{subgroup:"ladies", value: "1"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              レディース
        %li.header--inner-lower--left-content-first-list{subgroup:"men's", value: "2"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              メンズ
        %li.header--inner-lower--left-content-first-list{subgroup:"baby&kid's", value: "3"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ベビー・キッズ
        %li.header--inner-lower--left-content-first-list{subgroup:"interior&house&accessory", value: "4"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              インテリア・住まい・小物
        %li.header--inner-lower--left-content-first-list{subgroup:"books&music&games", value: "5"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              本・音楽・ゲーム
        %li.header--inner-lower--left-content-first-list{subgroup:"toys&hobby&goods", value: "6"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              おもちゃ・ホビー・グッズ
        %li.header--inner-lower--left-content-first-list{subgroup:"cosmetics&perfume&beauty", value: "7"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              コスメ・香水・美容
        %li.header--inner-lower--left-content-first-list{subgroup:"appliances&smartphones&cameras", value: "8"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              家電・スマホ・カメラ
        %li.header--inner-lower--left-content-first-list{subgroup:"sport&leisure", value: "9"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              スポーツ・レジャー
        %li.header--inner-lower--left-content-first-list{subgroup:"handmade", value: "10"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ハンドメイド
        %li.header--inner-lower--left-content-first-list{subgroup:"ticket", value: "11"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              チケット
        %li.header--inner-lower--left-content-first-list{subgroup:"bicycle&motorcycle", value: "12"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              自転車・オートバイ
        %li.header--inner-lower--left-content-first-list{subgroup:"other", value: "13"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              その他
        %li.header--inner-lower--left-content-first-list{subgroup:"category list", value: "14"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              カテゴリー一覧
        







  %li.header--inner-lower--left-content-brand
    %h2
      = link_to "#", class: ".header--inner-lower--left-content-link" do
        = icon('fas', 'tags')
        %span ブランドから探す
      %ul.header--inner-lower--left-content-first
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              シャネル
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ナイキ
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ルイヴィトン
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              シュプリーム
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              アディダス
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ブランド一覧



