.bread-crumbs
  %ul.bread-crumbs-ul
    - if controller.controller_name == "users"  && controller.action_name == "index"
      - breadcrumb :users
      = breadcrumbs separator: " &rsaquo; "

    - elsif controller.controller_name == "users"  && controller.action_name == "show"
      - breadcrumb :show_user
      = breadcrumbs separator: " &rsaquo; "   

    - elsif controller.controller_name == "users"  && controller.action_name == "edit"
      - breadcrumb :edit_user
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "users"  && controller.action_name == "logout"
      - breadcrumb :logout_user
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "users"  && controller.action_name == "items_show"
      - breadcrumb :users_items_ichiran
      = breadcrumbs separator: " &rsaquo; "

    - elsif controller.controller_name == "cards"  && controller.action_name == "index"
      - breadcrumb :cards
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "cards"  && controller.action_name == "new"
      - breadcrumb :new_cards
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "show"
      - breadcrumb :item
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "search"
      - breadcrumb :items_search_123
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "カテゴリー一覧"
      - breadcrumb :items
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "レディース"
      - breadcrumb :items_ladies
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "メンズ"
      - breadcrumb :items_mens
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "ベビー・キッズ"
      - breadcrumb :items_baby
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "インテリア・住まい・小物"
      - breadcrumb :items_interior
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "本・音楽・ゲーム"
      - breadcrumb :items_book
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "おもちゃ・ホビー・グッズ"
      - breadcrumb :items_toys
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "コスメ・香水・美容"
      - breadcrumb :items_cosmetics
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "家電・スマホ・カメラ"
      - breadcrumb :items_appliances
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "スポーツ・レジャー"
      - breadcrumb :items_sport
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "ハンドメイド"
      - breadcrumb :items_handmade
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "チケット"
      - breadcrumb :items_ticket
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "自転車・オートバイ"
      - breadcrumb :items_bicycle
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category" && Large.all[@params_id][:name] == "その他"
      - breadcrumb :items_other
      = breadcrumbs separator: " &rsaquo; " 



