.bread-crumbs
  %ul.bread-crumbs-ul
    - if controller.controller_name == "users"  && controller.action_name == "index"
      - breadcrumb :users
      = breadcrumbs separator: " &rsaquo; "

    - elsif controller.controller_name == "users"  && controller.action_name == "show"
      - breadcrumb :show_user
      = breadcrumbs separator: " &rsaquo; "   

    - elsif controller.controller_name == "users"  && controller.action_name == "edit"
      - breadcrumb :edit_user
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "users"  && controller.action_name == "logout"
      - breadcrumb :logout_user
      = breadcrumbs separator: " &rsaquo; " 

    - elsif controller.controller_name == "items"  && controller.action_name == "category"
      - breadcrumb :items
      = breadcrumbs separator: " &rsaquo; "
