.header-back
  .header
    .header--inner-upper
      %h1.header--inner-upper__logo
        = link_to "#" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336", alt: "merucari"
      .header--inner-upper--form
        .header--inner-upper--form__input-box
          %input.header--inner-upper--form__input-box__text{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}/
          = link_to "#" do
            = icon('fas', 'search')
    .header--inner-lower
      %nav.header--inner-lower--left
        = link_to "#" do
          = icon('fas', 'list-ul')
          %span カテゴリーから探す
        = link_to "#" do
          = icon('fas', 'tags')
          %span ブランドから探す
      .header--inner-lower__right
        = link_to new_user_session_path, class: "btn-red header-btn" do
          ログイン
        = link_to new_user_path, class: "header-signup header-btn" do
          新規会員登録
