
%ul.header--inner-lower--left-content
  %li.header--inner-lower--left-content-category
    %h2.h2-category
      = link_to "/items/category/14", class: ".header--inner-lower--left-content-link" do
        = icon('fas', 'list-ul')
        %span カテゴリーから探す
      %ul.header--inner-lower--left-content-first{name: "category1", id: "category1"}
        %li.header--inner-lower--left-content-first-list{subgroup:"ladies", value: "1"}
          %h3
            = link_to "/items/category/1", class: ".header--inner-lower--left-content-first-list-link" do
              レディース
        %li.header--inner-lower--left-content-first-list{subgroup:"men's", value: "2"}
          %h3
            = link_to "/items/category/2", class: ".header--inner-lower--left-content-first-list-link" do
              メンズ
        %li.header--inner-lower--left-content-first-list{subgroup:"baby&kid's", value: "3"}
          %h3
            = link_to "/items/category/3", class: ".header--inner-lower--left-content-first-list-link" do
              ベビー・キッズ
        %li.header--inner-lower--left-content-first-list{subgroup:"interior&house&accessory", value: "4"}
          %h3
            = link_to "/items/category/4", class: ".header--inner-lower--left-content-first-list-link" do
              インテリア・住まい・小物
        %li.header--inner-lower--left-content-first-list{subgroup:"books&music&games", value: "5"}
          %h3
            = link_to "/items/category/5", class: ".header--inner-lower--left-content-first-list-link" do
              本・音楽・ゲーム
        %li.header--inner-lower--left-content-first-list{subgroup:"toys&hobby&goods", value: "6"}
          %h3
            = link_to "/items/category/6", class: ".header--inner-lower--left-content-first-list-link" do
              おもちゃ・ホビー・グッズ
        %li.header--inner-lower--left-content-first-list{subgroup:"cosmetics&perfume&beauty", value: "7"}
          %h3
            = link_to "/items/category/7", class: ".header--inner-lower--left-content-first-list-link" do
              コスメ・香水・美容
        %li.header--inner-lower--left-content-first-list{subgroup:"appliances&smartphones&cameras", value: "8"}
          %h3
            = link_to "/items/category/8", class: ".header--inner-lower--left-content-first-list-link" do
              家電・スマホ・カメラ
        %li.header--inner-lower--left-content-first-list{subgroup:"sport&leisure", value: "9"}
          %h3
            = link_to "/items/category/9", class: ".header--inner-lower--left-content-first-list-link" do
              スポーツ・レジャー
        %li.header--inner-lower--left-content-first-list{subgroup:"handmade", value: "10"}
          %h3
            = link_to "/items/category/10", class: ".header--inner-lower--left-content-first-list-link" do
              ハンドメイド
        %li.header--inner-lower--left-content-first-list{subgroup:"ticket", value: "11"}
          %h3
            = link_to "/items/category/11", class: ".header--inner-lower--left-content-first-list-link" do
              チケット
        %li.header--inner-lower--left-content-first-list{subgroup:"bicycle&motorcycle", value: "12"}
          %h3
            = link_to "/items/category/12", class: ".header--inner-lower--left-content-first-list-link" do
              自転車・オートバイ
        %li.header--inner-lower--left-content-first-list{subgroup:"other", value: "13"}
          %h3
            = link_to "/items/category/13", class: ".header--inner-lower--left-content-first-list-link" do
              その他
        %li.header--inner-lower--left-content-first-list{subgroup:"category list", value: "14"}
          %h3
            = link_to "/items/category/14", class: ".header--inner-lower--left-content-first-list-link" do
              カテゴリー一覧
        



      %ul.header--inner-lower--left-content-second{name: "category2", id: "category2"}
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"tops", value: "1"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              トップス
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"Jacket&outer", value: "2"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              ジャケット/アウター
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"pants", value: "3"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              パンツ
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"skirt", value: "4"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              スカート
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"one-piece", value: "5"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              ワンピース
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"shoes", value: "6"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              靴
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"room wear&pajamas", value: "7"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              ルームウェア/パジャマ
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"leg-wear", value: "8"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              レッグウェア
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"hat", value: "9"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              帽子
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"bag", value: "10"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              バッグ
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"accessories", value: "11"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              アクセサリー
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"hair-accessories", value: "12"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              ヘアーアクセサリー
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"accessory", value: "13"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              小物
        %li.header--inner-lower--left-content-second-list{group:"ladies", subgroup:"clock", value: "14"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              時計





        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"tops", value: "1"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              トップス
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"Jacket&outer", value: "2"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              ジャケット/アウター
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"pants", value: "3"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              パンツ
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"shoes", value: "4"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              靴
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"bag", value: "5"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              バッグ
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"tops", value: "6"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              スーツ
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"hat", value: "7"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              帽子
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"accessories", value: "8"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              アクセサリー
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"accessory", value: "9"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              小物
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"clock", value: "10"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              時計
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"swimwear", value: "11"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              水着
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"leg-wear", value: "12"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              レッグウェア
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"underwear", value: "13"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              アンダーウェア
        %li.header--inner-lower--left-content-second-list{group:"men's", subgroup:"other", value: "14"}
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-second-list-link" do
              その他
        






  %li.header--inner-lower--left-content-brand
    %h2.h2-category
      = link_to "#", class: ".header--inner-lower--left-content-link" do
        = icon('fas', 'tags')
        %span ブランドから探す
      %ul.header--inner-lower--left-content-first
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              シャネル
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ナイキ
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ルイヴィトン
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              シュプリーム
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              アディダス
        %li.header--inner-lower--left-content-first-list
          %h3
            = link_to "#", class: ".header--inner-lower--left-content-first-list-link" do
              ブランド一覧



