.header-back
  .header
    .header--inner-upper
      %h1.header--inner-upper__logo
        = link_to root_path do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336", alt: "merucari"
      .header--inner-upper--form
        .header--inner-upper--form__input-box
          =form_tag("/items/search/123", method: :get) do
            %input.header--inner-upper--form__input-box__text{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
            %button{title: "検索",type: "submit"}
              = icon('fas', 'search')
    .header--inner-lower
      %nav.header--inner-lower--left
        = render "./shared/header-category-list"
      .header--inner-lower__right
        = link_to "#" do
          = icon('fas', 'bell')
          %span お知らせ
        = link_to "#" do
          = icon('fas', 'check')
          %span やることリスト
        = link_to "/users/#{current_user.id}" do
          = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png" 
          %span マイページ

          