= render './shared/profile_header';
= render './shared/gratel';

.main--l-container
  .main--l-container--l-containt
    %section.main--l-container--l-containt--l-chapter-container
      %section.l-chapter-container-mypage-identification
        %h2.l-chapter-head
          本人情報の登録
        %form.l-singe-inner{action: "", method: "POST", novalidate: ""} 
          .info-customer
            %p.info-customer-registration
              お客さまの本人情報をご登録ください。
              %br.info-customer-registration-necessary
                登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      
            %p.text-right
              = link_to "#", class: "upload" do
                本人確認書類のアップロードについて＞

          .form-group
            %label
              お名前
            %p
              メルカリ太郎

          .form-group
            %label
              お名前カナ
            %p
              メルカリタロウ

          .form-group
            %label{for: "birthday"}
              生年月日
            %p 
              219/05/11

          .form-group
            %label{for: "zip_code"}
              郵便番号
            %span.form-arbitrary
              任意
            %input.input-default{type: "text", value:"", name: "zip_code", placeholder: "例）1234567"}

          .form-group
            %label{for: "prefecture"}
              都道府県
            %span.form-arbitrary
              任意
            .select-wrap
              %select.select-default{name: "prefecture"}
                %option{selected: "selected"} --
                %option 北海道
                %option 青森県
                %option 岩手県
                %option 宮城県
                %option 秋田県
                %option 山形県
                %option 福島県
                %option 東京都
                %option 神奈川県
                %option 埼玉県
                %option 千葉県
                %option 茨城県
                %option 栃木県
                %option 群馬県
                %option 山梨県
                %option 新潟県
                %option 長野県
                %option 富山県
                %option 石川県
                %option 福井県
                %option 愛知県
                %option 岐阜県
                %option 静岡県
                %option 三重県
                %option 大阪府
                %option 兵庫県
                %option 京都府
                %option 滋賀県
                %option 奈良県
                %option 和歌山県
                %option 鳥取県
                %option 島根県
                %option 岡山県
                %option 広島県
                %option 山口県
                %option 徳島県
                %option 香川県
                %option 愛媛県
                %option 高知県
                %option 福岡県
                %option 佐賀県
                %option 長崎県
                %option 熊本県
                %option 大分県
                %option 宮崎県
                %option 鹿児島県
                %option 沖縄県
              %i.icon-arrow-bottom

          .form-group
            %label{for: "city"}
              市区町村
            %span.form-arbitrary
              任意
            %input.input-default{type: "text", value: "", name: "city", placeholder: "例) 横浜市緑区"}

          .form-group
            %label{for: "address1_label"}
              番地
            %span.form-arbitrary
              任意
            %input.input-default{type: "text", value: "", name: "address1", placeholder: "例) 青山1−1−1"}

          .form-group
            %label{for: "address2_label"}
              建物名
            %span.form-arbitrary
              任意
            %input.input-default{type: "text", value: "", name: "address2", placeholder: "例) 柳ビル103"}

          %button.btn-default-btn-red{type: "submit"}
            登録する

          .form-group-text-right
            %p
              =link_to "#", class: "upload" do
                本人情報の登録について＞
                
          %input{type: "hidden", name: "__csrf_value", value: ""}

  = render './shared/sidebar';
= render './shared/footer';
= render './shared/footer-sell-btn';