= render './shared/registration-header';

.account

  .account-top
    %p.account-top--text
      アカウントをお持ちでない方はこちら
    = link_to new_user_path, class: "account-top--text--link" do
      .account-top--text--link__box
        %p.account-top--text--link__box--text
          新規会員登録


  .account-bottom
    = link_to user_facebook_omniauth_authorize_path, class: "account-bottom--link" do
      .account-bottom--link__box1
        %p.account-bottom--link__box1--fb
          = icon('fab', 'facebook', class: 'icon')
          Facebookでログイン
    = link_to user_google_oauth2_omniauth_authorize_path, class: "account-bottom--link" do
      .account-bottom--link__box2
        %p.account-bottom--link__box2--google
          = icon('fab', 'google', class: 'icon')
          Googleでログイン
    
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form
        .form-box
          = f.email_field :email, placeholder: "メールアドレス", type: "text", value: "", class: "form-box--input"
        .form-box
          = f.password_field :password, placeholder: "パスワード", type: "text", value: "", class: "form-box--input", id: "password_login"
        = f.submit "ログイン", class: "form-btn" do
          ログイン
        = link_to "#", class: "form-link" do
          %P.form-link--text
            パスワードをお忘れの方
    
= render './shared/registration-footer';