%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    = link_to "#" do
      レディース 新着アイテム 
  .main--pickup-container--items-container--items
    - @item.each do |item|
      %section.main--pickup-container--items-container--items__item
        = link_to "/items/#{item.id}", method: :get do
          %figure.item-photo
            - item.images.each do |image|
              = image_tag image
          .item-body
            %h3.item-body__name 
              = item.name
            .item-body--num
              .item-body--num__price 
                = item.price
              .item-body--num__favorite
                = icon('far', 'heart')
                %span 1000
            %p (税込)
   
  .main--pickup-container--items-container__view-all
    = link_to "#" do
      すべての商品を見る

%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    = link_to "#" do
      メンズ 新着アイテム
  .main--pickup-container--items-container--items
    - @item.each do |item|
      %section.main--pickup-container--items-container--items__item
        = link_to "#" do
          %figure.item-photo
            - item.images.each do |image|
              = image_tag image
          .item-body
            %h3.item-body__name 
              = item.name
            .item-body--num
              .item-body--num__price 
                = item.price
              .item-body--num__favorite
                = icon('far', 'heart')
                %span 1000
            %p (税込)
    
  .main--pickup-container--items-container__view-all
    = link_to "#" do
      すべての商品を見る
%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    = link_to "#" do
      ベビー・キッズ 新着アイテム
  .main--pickup-container--items-container--items
    - @item.each do |item|
      %section.main--pickup-container--items-container--items__item
        = link_to "#" do
          %figure.item-photo
            - item.images.each do |image|
              = image_tag image
          .item-body
            %h3.item-body__name 
              = item.name
            .item-body--num
              .item-body--num__price 
                = item.price
              .item-body--num__favorite
                = icon('far', 'heart')
                %span 1000
            %p (税込)

  .main--pickup-container--items-container__view-all
    = link_to "#" do
      すべての商品を見る
%section.main--pickup-container--items-container
  %h3.main--pickup-container--items-container__name
    = link_to "#" do
      コスメ・香水・美容 新着アイテム
  .main--pickup-container--items-container--items
    - @item.each do |item|
      %section.main--pickup-container--items-container--items__item
        = link_to "#" do
          %figure.item-photo
            - item.images.each do |image|
              = image_tag image
          .item-body
            %h3.item-body__name 
              = item.name
            .item-body--num
              .item-body--num__price 
                = item.price
              .item-body--num__favorite
                = icon('far', 'heart')
                %span 1000
            %p (税込)
  .main--pickup-container--items-container__view-all
    = link_to "#" do
      すべての商品を見る
