= render './shared/header';
= render './shared/gratel';

.search-container
  .search-container__side
    = search_form_for(@q, url:items_search_456_path) do |f|
      .search-container__side__sort
        .form-group
          .form-group__select-wrap
            %select
              %option 並び替え
              %option 価格の安い順
              %option 価格の高い順
              %option 出品の古い順
              %option 出品の新しい順
              -# %option いいねの多い順
            =icon("fas","chevron-down")
      .search-container__side__main
        %h3 詳細検索
        .form-group
          %label
            =icon('fas', 'plus')
            %span.font キーワードを検索する
          = f.search_field :name_cont, placeholder: "例）値下げ"
        .form-group
          %label
            =icon('fas', 'list')
            %span.font カテゴリーを選択する
          %select
            %option すべて
            %option レディース
            %option ベビー・キッズ
            %option インテリア・住まい・小物
            %option 本・音楽・ゲーム
            %option おもちゃ・ホビー・グッズ
            %option コスメ・香水・美容
            %option 家電・スマホ・カメラ
            %option スポーツ・レジャー
            %option ハンドメイド
            %option チケット
            %option 自動車・オートバイ
            %option その他
          =icon("fas","chevron-down")
        .form-group
          %label
            =icon('fas', 'backspace')
            %span.font ブランド名から探す
          = f.radio_button :brand_id_eq, '', {:checked => true}
          = f.radio_button :brand_id_eq, 1
          = f.radio_button :brand_id_eq, 2
        .form-group
          %label
            =icon('fas', 'square')
            %span.font サイズを指定する
          %select
            %option 選択してください
            %option 洋服のサイズ
            %option メンズ服のサイズ
            %option レディーズ服のサイズ
            %option スカートのサイズ
            %option キッズ服のサイズ
            %option ベビー・キッズのサイズ
            %option ベビー服のサイズ
            %option テレビのサイズ
            %option カメラレンズのサイズ
            %option オートバイのサイズ
            %option ヘルメットのサイズ
            %option タイヤのサイズ
            %option スキーのサイズ
            %option スノーボードのサイズ
          =icon("fas","chevron-down")
        .form-group
          %label
            =icon('fas', 'database')
            %span.font 価格　　　
          .price-box
            = f.number_field :price_gteq,placeholder: "¥Min",class:"min-box"
            %span ~
            = f.number_field :price_lt,placeholder: "¥Max",class:"max-box"
          -# %select
          -#   %option 選択してください
          -#   %option 300~1000
          -#   %option 1000~5000
          -#   %option 5000~10000
          -#   %option 10000~30000
          -#   %option 30000~50000
          -#   %option 50000~
          -# =icon("fas","chevron-down")
        .cover
          .button-box
            .reset-button クリア
            = f.submit "完了",class:'complete-button'
  .search-container__content
    .search-container__content__items-box-container
      %h2.search-result-head 検索結果 
      .items-box-content
      -@item.each do |item|
        .items-box-content__items-box
          = link_to item_path(item), method: :get do
            .items-box-photo
              -item.images.first(1).each do |image|
                =image_tag image
            .items-box-body
              %h3.items-box-body__items-box-name 
                =item.name
              .items-box-body__items-box-num
                .items-box-body__items-box-num__items-box-price 
                  =item.price
                .items-box-body__items-box-num__like
                  =icon('fas', 'heart')
                  %span 14
              %p.items-box-body__items-box-tax (税込)
  .search-container__page
    -# =paginate(@item)
= render './shared/footer-sell-btn';
= render './shared/app-banner';
= render './shared/footer';