= render './shared/profile_header';
= render './shared/gratel';
.item-box-container
  %h1.item-box-container__item-name
    正規品！COACH【コーチ】★★大きめミニシグネチャーショルダーバッグ
  .item-box-container__item-main-containt
    .item-box-container__item-main-containt__item-photo
      .item-box-container__item-main-containt__item-photo__owlcasual
        = image_tag"https://static.mercdn.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823", class: "item-box-container__item-main-containt__item-photo__owlcasual__owl-lazy"
      .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots
        .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
          .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
            = image_tag"https://static.mercdn.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823", class: "item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
        .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
          .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
            = image_tag"https://static.mercdn.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823", class: "item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
        .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
          .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
            = image_tag"https://static.mercdn.net/item/detail/orig/photos/m70068440240_3.jpg?1539045823", class: "item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
        .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot
          .item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out
            = image_tag"https://static.mercdn.net/item/detail/orig/photos/m70068440240_4.jpg?1539045823", class: "item-box-container__item-main-containt__item-photo__owlcasual__owl-dots__owl-dot__out__dot-image"
    .item-box-container__item-main-containt__sold-out-badge
      .item-box-container__item-main-containt__sold-out-badge__font SOLD
    %table.item-box-container__item-main-containt__item-detail-table
      %tbody
        %tr 
          %th 出品者
          %td
            = link_to "#" do
              %span.linkcolor BOON90sリバイバル@フォロー割
            .grin
              .item-user-rating1
                =icon('fas', 'grin')
                .span 918
              .item-user-rating2
                =icon('far', 'meh')
                .span 27
              .item-user-rating3
                =icon('fas', 'frown-open')
                .span 4

        %tr 
          %th カテゴリー
          %td 
            = link_to "#" do 
              %span.linkcolor レディース
              %br
              =icon('fas', 'chevron-right')
              %span.linkcolor バッグ
              %br
              =icon('fas', 'chevron-right')
              %span.linkcolor ショルダーバッグ
        %tr 
          %th ブランド
          %td 
            = link_to "#" do 
              %span.linkcolor コーチ
        %tr 
          %th 商品の状態
          %td やや傷や汚れがあり
              
        %tr 
          %th 配送料の負担
          %td 送料込み（出品者負担）

        %tr 
          %th 配送の方法
          %td らくらくメルカリ便
        %tr 
          %th 配送元地域
          %td 
            = link_to "#" do 
              %span.linkcolor 兵庫県
        %tr 
          %th 発送日の目安
          %td 1~2日で発送
  .item-box-container__item-price-box
    %span.item-box-container__item-price-box__item-price ¥ 3,380
    %span.item-box-container__item-price-box__item-tax （税込）
    %span.item-box-container__item-price-box__item-shipping-fee 送料込み
  .item-box-container__item-buy-btn 売り切れました
  .item-box-container__item-description
    %p.item-box-container__item-description__item-description-inner
      ■商品ご覧頂き、誠にありがとうございます。
      ※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！
      %br
      %br
      私の商品検索は、
      %br
      ＃Boon・バッグ
      %br
      検索してください。
      %br
      %br
      質問がありましたらコメントでよろしくお願いします！
      %br
      ■ 商品説明 ■
      %br
      まずはプロフを確認してください☆
      %br
      %br
      ■ 商品詳細 ■
      %br
      シンプルな落ち着いたお色味でどんな場面にも合い、
      %br
      どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが
      %br
      多少の汚れはあります。内側はとても綺麗です☆
      %br
      使わなくなったのでどなたか使っていただける方お願いします。
      %br
      製造番号 H2K-9294
      %br
      %br
      【ブランド】
      %br
      COACH コーチ
      %br
      %br
      【商品名】
      %br
      コーチ大き目シンプル
      %br
      %br
      【仕様】
      %br
      外ポケット１ 内ポケット４
      %br
      %br
      【サイズ】
      %br
      縦：32
      %br
      横：31
      %br
      幅：7
      %br
      紐：130 多少調節可能
      %br
      %br
      ＊他にも数多くの商品を出品しているので、ぜひご覧ください。
      %br
      ＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。
      %br
      ＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^
      %br
      ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
      %br
      、お願い致します^_^
      %br
      ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
      %br
      %br
      ＃シンプル ＃かわいい ＃大きめ ＃かばん ＃バッグ
  .item-box-container__item-button-container
    .item-box-container__item-button-container__item-button-left
      .item-box-container__item-button-container__item-button-left__like
        =icon('fas', 'heart')
        %span いいね！ 7
      .item-box-container__item-button-container__item-button-left__illegal
        =icon('fas', 'flag-checkered')
        %span 不適切な商品の報告
      .item-box-container__item-button-container__item-button-left__safety
        = link_to "#" do
          =icon('fas', 'lock')
          %span.safe あんしん・あんぜんへの取り組み
.item-detail-message
  .item-detail-message__message-containt
    %ul.item-detail-message__message-containt__message-items
      %li.item-detail-message__message-containt__message-items__message
        .item-detail-message__message-containt__message-items__message__message-user
          .item-detail-message__message-containt__message-items__message__message-user__unknown
            =image_tag"//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?392987640", class:"item-detail-message__message-containt__message-items__message__message-user__unknown__image"
        .item-detail-message__message-containt__message-items__message__message-body
          .item-detail-message__message-containt__message-items__message__message-body__text 出品者がコメントを削除しました
          .item-detail-message__message-containt__message-items__message__message-body__icons
            %span.item-detail-message__message-containt__message-items__message__message-body__icons__time 199日前
          =icon('fas', 'play')
      %li.item-detail-message__message-containt__message-items__message
        .item-detail-message__message-containt__message-items__message__message-user
          .item-detail-message__message-containt__message-items__message__message-user__unknown
            =image_tag"//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?392987640", class:"item-detail-message__message-containt__message-items__message__message-user__unknown__image"
        .item-detail-message__message-containt__message-items__message__message-body
          .item-detail-message__message-containt__message-items__message__message-body__text 出品者がコメントを削除しました
          .item-detail-message__message-containt__message-items__message__message-body__icons
            %span.item-detail-message__message-containt__message-items__message__message-body__icons__time 199日前
          =icon('fas', 'play')
      %li.item-detail-message__message-containt__message-items__message
        .item-detail-message__message-containt__message-items__message__message-user
          .item-detail-message__message-containt__message-items__message__message-user__unknown
            =image_tag"//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?392987640", class:"item-detail-message__message-containt__message-items__message__message-user__unknown__image"
        .item-detail-message__message-containt__message-items__message__message-body
          .item-detail-message__message-containt__message-items__message__message-body__text 出品者がコメントを削除しました
          .item-detail-message__message-containt__message-items__message__message-body__icons
            %span.item-detail-message__message-containt__message-items__message__message-body__icons__time 199日前
          =icon('fas', 'play')
      %li.item-detail-message__message-containt__message-items__message
        .item-detail-message__message-containt__message-items__message__message-user
          .item-detail-message__message-containt__message-items__message__message-user__unknown
            =image_tag"//static.mercdn.net/images/member_photo_noimage_thumb.png", class:"item-detail-message__message-containt__message-items__message__message-user__unknown__image"
        .item-detail-message__message-containt__message-items__message__message-body
          .item-detail-message__message-containt__message-items__message__message-body__text はじめまして。ずっと、気になっているのですが・・・こちらのバッグの『多少の汚れ』とは、パッと見る限り、目立たない程度なのですか？皮の白いところは画像でわかるのですが、全体の感じがわからなかったので、質問してみました。
          .item-detail-message__message-containt__message-items__message__message-body__icons
            %span.item-detail-message__message-containt__message-items__message__message-body__icons__time 179日前
          =icon('fas', 'play')
      %li.item-detail-message__message-containt__message-items__message
        .item-detail-message__message-containt__message-items__message__message-user
          .item-detail-message__message-containt__message-items__message__message-user__unknown
            =image_tag"//static.mercdn.net/thumb/members/387561164.jpg?1553790005", class:"item-detail-message__message-containt__message-items__message__message-user__unknown__image"
        .item-detail-message__message-containt__message-items__message__message-body
          .item-detail-message__message-containt__message-items__message__message-body__text 
          おまたせしました。
          %br
          先ほど確認しましたところ、画像にある底部に若干の汚れが見られる程度で、後はそれといって汚れはございませんでした。
          %br
          よろしくお願いします。
          .item-detail-message__message-containt__message-items__message__message-body__icons
            %span.item-detail-message__message-containt__message-items__message__message-body__icons__time 177日前
          =icon('fas', 'play')
      %li.item-detail-message__message-containt__message-items__message
        .item-detail-message__message-containt__message-items__message__message-user
          .item-detail-message__message-containt__message-items__message__message-user__unknown
            =image_tag"//static.mercdn.net/images/member_photo_noimage_thumb.png", class:"item-detail-message__message-containt__message-items__message__message-user__unknown__image"
        .item-detail-message__message-containt__message-items__message__message-body
          .item-detail-message__message-containt__message-items__message__message-body__text 
          ありがとうございます。
          %br
          購入したいなと思います。
          .item-detail-message__message-containt__message-items__message__message-body__icons
            %span.item-detail-message__message-containt__message-items__message__message-body__icons__time 177日前
          =icon('fas', 'play')
  .item-detail-message__message-containt
    .item-detail-message__message-containt__message-form
      %p.item-detail-message__message-containt__message-form__message
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %text_area.item-detail-message__message-containt__message-form__form-default
      %button.item-detail-message__message-containt__message-form__button-default 
        %span.item-detail-message__message-containt__message-form__button-default__font
          売り切れのためコメントできません
.item-link
  .item-link__prev
    = link_to "#" do
      =icon('fas', 'angle-left')
      %span.item-link__prev__dv ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
  .item-link__next
    = link_to "#" do
      %span.item-link__next__rp 楽天パンダ ノート&amp;マスキングテープセット
      =icon('fas', 'angle-right')
.item-social-media-box
  %ul.item-social-media-box__social-media-box
    %li.item-social-media-box__social-media-box__share-btn1
      =icon('fab', 'facebook')
    %li.item-social-media-box__social-media-box__share-btn2
      =icon('fab', 'twitter')
    %li.item-social-media-box__social-media-box__share-btn3
      =icon('fab', 'line')
    %li.item-social-media-box__social-media-box__share-btn4
      =icon('fab', 'pinterest')
.items-in-user-profile
  .items-in-user-profile__items-box-container
    %h2.items-in-user-profile__items-box-container__items-box-head
      = link_to "#" do
        %span.items-in-user-profile__items-box-container__items-box-head__title BOON90sリバイバル@フォロー割さんのその他の出品
    .items-in-user-profile__items-box-container__items-box-containt
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m34192865182_1.jpg?1546583182", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name 古着90sエディーバウアー 中綿ジャケット
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥4,500
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 14
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m34192865182_1.jpg?1546583182", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name 古着90sエディーバウアー 中綿ジャケット
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥4,500
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 14
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m34192865182_1.jpg?1546583182", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name 古着90sエディーバウアー 中綿ジャケット
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥4,500
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 14
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m34192865182_1.jpg?1546583182", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name 古着90sエディーバウアー 中綿ジャケット
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥4,500
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 14
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m34192865182_1.jpg?1546583182", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name 古着90sエディーバウアー 中綿ジャケット
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥4,500
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 14
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m34192865182_1.jpg?1546583182", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name 古着90sエディーバウアー 中綿ジャケット
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥4,500
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 14
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
  .items-in-user-profile__items-box-container
    %h2.items-in-user-profile__items-box-container__items-box-head
      = link_to "#" do
        %span.items-in-user-profile__items-box-container__items-box-head__title コーチのショルダーバッグ その他の商品
    .items-in-user-profile__items-box-container__items-box-containt
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m61971722031_1.jpg?1548297010", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name coach 60's ショルダーバッグ 黒
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥17,000
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 6
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m61971722031_1.jpg?1548297010", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name coach 60's ショルダーバッグ 黒
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥17,000
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 6
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m61971722031_1.jpg?1548297010", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name coach 60's ショルダーバッグ 黒
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥17,000
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 6
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m61971722031_1.jpg?1548297010", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name coach 60's ショルダーバッグ 黒
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥17,000
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 6
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m61971722031_1.jpg?1548297010", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name coach 60's ショルダーバッグ 黒
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥17,000
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 6
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)
      %section.items-in-user-profile__items-box-container__items-box-containt__item-box
        =image_tag"https://static.mercdn.net/thumb/photos/m61971722031_1.jpg?1548297010", class:"items-in-user-profile__items-box-container__items-box-containt__item-box__item-image"
        .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body
          %h3.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__name coach 60's ショルダーバッグ 黒
          .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__price ¥17,000
            .items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__items-box-num__like
              =icon('fas', 'heart')
              %span 6
          %p.items-in-user-profile__items-box-container__items-box-containt__item-box__items-box-body__tax (税込)



= render './shared/app-banner';
= render './shared/footer';