= render './shared/registration-header';

%main.single-main
  %section.l-single-container-buy-item-container
    %h2.l-single-head
      購入を確定しますか？
    %section.buy-content-buy-item
      .buy-content-inner
        %h3.buy-item-image
          %img.is-higher-width-lazyloaded{ date:{ src: ""}, alt:{ src: ""}}
        %p.buy-item-name-bold
          CHANEL ラクレームドゥース

        = form_with url: pay_cards_path, name: "buy-form", id: "buy-form", class: "buy-form" do |form|
          %p.buy-price-ja-bold
            ¥ 1,620
            %span.item-shipping-fee-f14-bold
              送料込み
          %ul.buy-accordion-not-have
            %li.accordion-parent
              .accordion-toggle
                ポイントはありません
          %ul.buy-price-table
            %li.buy-price-row-buy-you-pay-bold
              .buy-price-cell-left
                支払い金額
              .buy-price-cell-right
                %span{"data-buy-pay": 1620}
                  ¥ 1,620
          %p.has-error-text
            配送先と支払い方法の入力を完了してください。
          = form.submit "購入する",class: "btn-default-btn-red-bold buy-form-btn", id: "buy-form-btn"


    %section.buy-content-buy-user-info
      .buy-content-inner
        %h3.shipping-payment
          配送先
        %p.buy-user-info-text
          〒123-4567
          %p.buy-user-info-text-br1
            横浜市緑区 青山1−1−1 柳ビル103
          %p.buy-user-info-text-br2
            メルカリ太郎
        %p.buy-user-info-text
        %p.buy-user-info-fix
          =link_to "#" do
            %span.change-btn
              変更する
            = icon('fas', 'angle-right')
        
    %section.buy-content-buy-user-info-payment{ data:{ buy: "pay-method"}}
      .buy-content-inner
        %h3.shipping-payment
          支払い方法
        .settings-add-card--left
          - if @default_card_information.blank?
            %br
            %p /
          - else
            = image_tag "#{@card_src}",height: '15px', alt: @card_brand
            %br
            = "**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            %br
            = exp_month + " / " + exp_year
        %p.buy-user-info-fix
          =link_to "/cards" do
            %span.change-btn
              変更する
            = icon('fas', 'angle-right')

= render './shared/registration-footer';
