= render './shared/profile_header';
= render './shared/gratel';
.main-container
  .main-content    
    %section.chapter-container
      %h2.chapter-head 支払い方法    
      .single-inner
        .single-content
          %h3.chapter-sub-head クレジットカード一覧
          .settings-payment-list
            .settings-add-card
              .single-content
                = link_to "https://www.mercari.com/jp/mypage/card/create/", class: "btn-default btn-red" do
                  = icon('fas', 'credit-card')
                  %span クレジットカードを追加する
            .settings-not-regist
              = link_to "https://www.mercari.com/jp/help_center/category/6/", target: "_blank" do
                %span 支払い方法について   
                = icon('fas', 'angle-right')          
  = render './shared/sidebar';
= render './shared/footer';        
= render './shared/footer-sell-btn';
