= render './shared/profile_header';
= render './shared/gratel';
.main-container
  .container-content    
    %section.chapter-container
      %h2.chapter-head クレジットカード情報入力
      %form.form-box
        .form-box-content
          .form-group
            %label.form-group-label カード番号
            %span.form-require 必須  
            %input.form-group-input{type: "text", placeholder: "半角数字のみ"}/ 
            %ul.form-group-card-list
              %li 
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?21530554"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?21530554"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?21530554"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?21530554"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?21530554"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?21530554"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?21530554"
          .group.signup-form-expire
            %label 有効期限
            %span.form-require 必須
            .select-wrap
              %select.select-default
                %option{value: "01"} 01
                %option{value: "02"} 02
                %option{value: "03"} 03
                %option{value: "04"} 04
                %option{value: "05"} 05
                %option{value: "06"} 06
                %option{value: "07"} 07
                %option{value: "08"} 08
                %option{value: "09"} 09
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              = icon('fas', 'chevron-down')  
              %span 月
            .select-wrap
              %select.select-default
                %option{value: "19"} 19
                %option{value: "20"} 20
                %option{value: "21"} 21
                %option{value: "22"} 22
                %option{value: "23"} 23
                %option{value: "24"} 24
                %option{value: "25"} 25
                %option{value: "26"} 26
                %option{value: "27"} 27
                %option{value: "28"} 28
                %option{value: "29"} 29  
              = icon('fas', 'chevron-down')                
              %span 年
          .group
            %label セキュリティコード
            %span.form-require 必須
            %input.group-input{type: "number", placeholder: "カード背面4桁もしくは3桁の番号"}/   
            .signup-seqcode
              .signup-seqcode-text
                %span.form-question ?
                カード裏面の番号とは？
          %button{type: "button", class: "btn-default btn-red"}
            追加する
  = render './shared/sidebar';
= render './shared/footer';        
= render './shared/footer-sell-btn';