.footer
  .footer--nav
    .footer--nav--cell
      %h2.footer--nav--cell__head メルカリについて
      %ul
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            採用情報
        %li
          = link_to "#" do
            プレスリリース
        %li
          = link_to "#" do
            公式ブログ
        %li
          = link_to "#" do
            メルカリロゴ利用ガイドライン
        .footer-social
          = link_to "#" do
            = icon('fab', 'twitter')
          = link_to "#" do
            = icon('fab', 'facebook')
    .footer--nav--cell
      %h2.footer--nav--cell__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "#" do
            メルカリガイド
        %li
          = link_to "#" do
            らくらくメルカリ便
        %li
          = link_to "#" do
            ゆうゆうメルカリ便
        %li
          = link_to "#" do
            大型メルカリ便
        %li
          = link_to "#" do
            車体取引ガイド
        %li
          = link_to "#" do
            メルカリあんしん・あんぜん宣言！
        %li
          = link_to "#" do
            偽ブランド品撲滅への取り組み
        %li
          = link_to "#" do
            メルカリボックス
    .footer--nav--cell.long-width
      %h2.footer--nav--cell__head.long-width__head プライバシーと利用規約
      .long-width__inner
        %ul
          %li
            = link_to "#" do
              プライバシーポリシー
          %li
            = link_to "#" do
              メルカリ利用規約
          %li
            = link_to "#" do
              あんしんスマホサポート制度に関する利用特約
          %li
            = link_to "#" do
              コンプライアンスポリシー
        %ul
          %li
            = link_to "#" do
              個人データの安全管理に係る基本方針
          %li
            = link_to "#" do
              特定商取引に関する表記
          %li
            = link_to "#" do
              資金決済法に基づく表示
          %li
            = link_to "#" do
              法令順守と犯罪抑止のために
          %li
            = link_to "#" do
              返品・返金ポリシー
    .footer--nav--cell.nav-lang
      %h2.footer--nav--cell__head 国
      %ul
        %li
          = link_to "#" do
            日本
        %li
          = link_to "#" do
            United States
  .footer--bottom
    = link_to "#", class: "footer--bottom__logo" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?4194600336", width: "124px", height: "33px"
    %span.footer--bottom__copyright
      %small{style: "color: #fff"} © 2019 Mercari

